<a href="https://colab.research.google.com/github/SupriyaKapse/Supriya_FDS/blob/main/supriyakapsechapter2datatypeandLevels24Auguest2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
drinks = pd.read_csv('https://raw.githubusercontent.com/sinanuozdemir/principles_of_data_science/master/data/chapter_2/drinks.csv')
drinks.head()

       country  beer_servings  ...  total_litres_of_pure_alcohol  continent
0  Afghanistan              0  ...                           0.0         AS
1      Albania             89  ...                           4.9         EU
2      Algeria             25  ...                           0.7         AF
3      Andorra            245  ...                          12.4         EU
4       Angola            217  ...                           5.9         AF

[5 rows x 6 columns]

In [ ]:
drinks.tail()

       country  beer_servings  ...  total_litres_of_pure_alcohol  continent
188  Venezuela            333  ...                           7.7         SA
189    Vietnam            111  ...                           2.0         AS
190      Yemen              6  ...                           0.1         AS
191     Zambia             32  ...                           2.5         AF
192   Zimbabwe             64  ...                           4.7         AF

[5 rows x 6 columns]

In [ ]:
drinks['continent'].describe()

count     170
unique      5
top        AF
freq       53
Name: continent, dtype: object

In [ ]:
drinks['country'].describe()

count                    193
unique                   193
top       Russian Federation
freq                       1
Name: country, dtype: object

In [ ]:
drinks['beer_servings'].describe()

count    193.000000
mean     106.160622
std      101.143103
min        0.000000
25%       20.000000
50%       76.000000
75%      188.000000
max      376.000000
Name: beer_servings, dtype: float64

In [ ]:
drinks['spirit_servings'].describe()

count    193.000000
mean      80.994819
std       88.284312
min        0.000000
25%        4.000000
50%       56.000000
75%      128.000000
max      438.000000
Name: spirit_servings, dtype: float64

In [ ]:
drinks['total_litres_of_pure_alcohol'].describe()

count    193.000000
mean       4.717098
std        3.773298
min        0.000000
25%        1.300000
50%        4.200000
75%        7.200000
max       14.400000
Name: total_litres_of_pure_alcohol, dtype: float64

In [ ]:
#Measures of center
import numpy as np
results = [5, 4, 3, 4, 5, 3, 2, 5, 3, 2, 1, 4, 5, 3, 4, 4, 5, 4, 2, 1, 
4, 5, 4, 3, 2, 4, 4, 5, 4, 3, 2, 1]
sorted_results_value = sorted(results)
print(sorted_results_value)
print('Mean of sorted results value is = ',np.mean(sorted_results_value))
print('Mesian of sorted result valus is = ',np.median(sorted_results_value))

[1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5, 5]
Mean of sorted results value is =  3.4375
Mesian of sorted result valus is =  4.0

In [ ]:
#Measures of cente 2 
#We measure the temperate every hour with the following 
import numpy as np
temps = [31, 32, 32, 31, 28, 29, 31, 38, 32, 31, 30, 29, 30, 31, 26]
print('The mean of temp is = ',np.mean(temps))
print('The median of temp is',np.median(temps))

The mean of temp is =  30.733333333333334
The median of temp is 31.0

In [ ]:
#Standard deviation
import numpy as np
temps = [31, 32, 32, 31, 28, 29, 31, 38, 32, 31, 30, 29, 30, 31, 26]
mean_of_temp=np.mean(temps)
squared_differences = []
for t in temps:
  difference = t - mean_of_temp         # how far is the point from the mean
  squared_difference_values=difference**2     ## square the difference
  squared_differences.append(squared_difference_values) # add it to our list
  average_squared_difference = np.mean(squared_differences) # This number is also called the "Variance"
  standard_deviation = np.sqrt(average_squared_difference) 
print(standard_deviation)

2.5157283018817607

In [ ]:
# in our fridge temperature data, we can calculate the geometric mean 
#geometric mean.
import numpy as np
temps = [31, 32, 32, 31, 28, 29, 31, 38, 32, 31, 30, 29, 30, 31, 26]
num_items = len(temps)
product = 1.
for temperature in temps:
 product *= temperature
 
geometric_mean = product**(1./num_items)
print(geometric_mean)

30.63473484374659